{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
{% include "include/header.html" %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Новости</h2>
                        <p>Будьте в курсе событий с нами!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        {% for blog in blogs %}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item small__item set-bg" data-setbg="{{blog.photo.url}}">
                                <div class="blog__item__text">
                                    <p><span class="icon_calendar"></span>{{blog.published_at}}</p>
                                    <h4><a href="#">{{blog.title}}</a></h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% include "include/footer.html" %}

    {% endblock %}

</body>

</html>