{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
{% include "include/header.html" %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



    <!-- Hero Section Begin -->
<div class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            {% for hero in heroes %}
            <div class="hero__items set-bg" data-setbg="{{hero.image.url}}">
                  <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            {% if hero.genre %}<div class="label">{{ hero.genre }}</div>{% endif %}
                            <h2>{{ hero.title }}</h2>
                            {% if hero.short_description %}<p>{{ hero.short_description|truncatechars:50 }}</p>{% endif %}
                            <a href="{{ hero.get_absolute_url|default:'#' }}">
                                <span>Смотреть</span> <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>В тренде</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for trend in trends %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ trend.image.url }}">
                                        <div class="ep">12 / 12</div>
                                        <div class="view"><i class="fa fa-eye"></i>{{ trend.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>{{ trend.genre }}</li>
                                        </ul>
                                        <h5><a href="{{ trend.get_absolute_url|default:'#' }}">{{ trend.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>ТОП 3 популярных</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">Смотреть все<span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for popular in populars %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ popular.image.url }}">
                                        <div class="ep">12 / 12</div>
                                        <div class="view"><i class="fa fa-eye"></i>{{popular.views}}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>{{popular.genre}}</li>
                                        </ul>
                                        <h5><a href="#">{{popular.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Недавно добавленные</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">смотреть все<span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for recently in recentlies %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ recently.image.url }}">
                                        <div class="ep">12 / 12</div>
                                        <div class="view"><i class="fa fa-eye"></i>{{ recently.views }}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a href="#">{{ recently.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
</div>
</div>
</section>
<!-- Product Section End -->

{% include "include/footer.html" %}

    {% endblock %}



