{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
{% include "include/header.html" %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Войти</h2>
                        <p>Войдите в аккаунт и откройте рассширенные возможности :)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Sign Up</h3>
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}

                            {% if form.errors %}
                                <div class="alert alert-danger" style="color: black; margin-bottom: 20px;">
                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            <div class="input__item" aria-placeholder="Никнейм">
                                {{ form.username }}
                                <span class="icon_profile"></span>
                            </div>

                            <div class="input__item" aria-placeholder="">
                                {{ form.email }}
                                <span class="icon_mail"></span>
                            </div>

                            <div class="input__item" aria-placeholder="">
                                {{ form.password1 }}
                                <span class="icon_lock"></span>
                            </div>

                            <div class="input__item" aria-placeholder="">
                                {{ form.password2 }}
                                <span class="icon_lock"></span>
                            </div>

                            <button type="submit" class="site-btn">Sign up</button>
                        </form>
                        <h5>Already have an account? <a href="#">Log In!</a></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <h3>Login With:</h3>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Sign in With Facebook</a>
                            </li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Sign in With Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section End -->


      <!-- Search model Begin -->
      <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->


{% include "include/footer.html" %}

{% endblock %}

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/player.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>